.p-contact {
    font-feature-settings: "palt" 1;
}

.c-contactvisual {
    position: relative;

    &__bgimg {
        height: 400px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .c-title {
        bottom: 11.3%;

        @include sp {
            bottom: calc(50% - 70px);
            transform: translateX(-50%);
        }
    }
}

.c-contactform {
    &__wrap {
        max-width: 1160px;
        width: 97%;
        margin: 0 auto;
        padding: 25px 0 130px;

        @include tab {
            padding-top: 10px;
        }
    }

    .c-breadcrumb {
        padding-bottom: 34px;
        border-bottom: 1px solid #ccc;

        &__main::after {
            bottom: -5px;
        }

        &__char {
            margin-right: 12px;
        }

        @include tab {
            max-width: 790px;
            width: 90%;
            margin: 0 auto;
            padding-bottom: 13px;
        }
    }

    &__container {
        margin: 0 auto;
        max-width: 790px;
        width: 90%;
        padding-top: 3.7%;
    }

    &__title {
        margin-bottom: 7%;

        h2 {
            font-size: 2.4rem;
            font-weight: 600;
            text-align: center;
            margin-bottom: 3.3%;
            padding-right: 4px;

            @include sp {
                font-size: 1.6rem;
            }
        }

        p {
            max-width: 790px;
            width: 100%;
            margin: 0 auto;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 2;
            letter-spacing: 1.4px;
            padding-left: 4px;

            @include sp {
                font-size: 1.2rem;
            }
        }

        span {
            color: $color2;
            letter-spacing: 1.6px;
        }

        .u-red {
            color: #fd0000;
        }
    }

    form {
        max-width: 783px;
        margin: 0 auto;
        text-align: center;

        label {
            font-size: 1.6rem;
            font-weight: 600;
            font-feature-settings: "palt" 1;
            text-align: left;

            @include tab {
                font-size: 1.2rem;
                margin-bottom: 1.5%;
            }

            @include screen375 {
                font-size: 1.1rem;
            }
        }

        span {
            color: #f00;
        }

        .c-errormess {
            margin-left: 32.2%;
            margin-bottom: 2px;

            @include tab {
                margin-left: 0;
            }
        }
    }

    .c-input {
        height: 45px;
        background-color: #f2f2f2;
        border: 0 none;
        max-width: 65.2%;
        padding: 0 10px;

        @include tab {
            max-width: 100%;
        }
    
        &__style1 {
            width: 47.2%;

            @include tab {
                max-width: 100%;
                width: unset;
            }
        }

        &__style2 {
            width: 100%;

            @include tab {
                max-width: 100%;
                width: unset;
            }
        }

        &__style3 {
            max-width: 100%;
            width: 78.5%;

            @include tab {
                width: 100%;
            }
        }

        &__style4 {
            width: 100%;
            height: 190px;
            resize: none;
            padding: 10px;
            margin-bottom: 5px;

            @include tab {
                max-width: 100%;
                width: unset;
            }
        }
    }

    &__item {
        display: flex;
        padding: 2.6% 0 1.9%;
        width: 100%;
        min-height: 86px;
        border-top: 1px solid #c5c5c5;

        > label {
            letter-spacing: 1.6px;
            width: 32.1%;
            font-feature-settings: "palt" 1;
        }

        @include tab {
            flex-direction: column;
            padding: 1.5% 0;

            >label {
                width: 100%;
            }
        }
    }
    
    &__label {
        width: 68%;

        @include tab {
            width: 100%;
            margin-bottom: 5px;
        }
    }

    button {
        margin-top: 6.5%;
        margin-left: -3px;
        width: 57.5%;
        width: 57.7%;
        height: 59px;
        box-shadow: 4px 4px rgba(0, 0, 0, 1);
        border: 0 none;
        background-color: $color2;
        position: relative;
        cursor: pointer;

        span {
            color: $color1;
            font-size: 1.5rem;
            font-weight: 600;
            font-family: "Noto Sans JP", sans-serif;
            font-feature-settings: "palt" 1;
            letter-spacing: 1px;
            padding-bottom: 3px;
            display: inline-block;
        }

        span::after {
            content: "";
            background-image: url("../../_public/assets/img/arrow.svg");
            background-position: center;
            background-size: cover;
            width: 20px;
            height: 20px;
            position: absolute;
            right: 20px;
            top: 20px;
        }

        &:hover {
            box-shadow: 0 0;
            transform: translate(4px, 4px);
        }

        @include tab {
            width: 90%;
            max-width: 270px;
            height: 38px;
            box-shadow: 2px 2px rgba(0, 0, 0, 1);

            span::after {
                right: 10px;
                top: 10px;
            }

            &:hover {
                box-shadow: 0 0;
                transform: translate(2px, 2px);
            }
        }
    }

    &__checkbox {
        display: flex;
        margin-bottom: 11px;
        align-items: center;

        @include tab {
            justify-content: space-between;
        }
    }

    &__checkbox:last-child {
        justify-content: space-between;
    }
}

.c-checkbox {
    display: block;
    position: relative;
    padding-left: 26px;
    letter-spacing: 2.5px;
    cursor: pointer;
    font-size: 1.6rem;
    user-select: none;
    user-select: none;
    user-select: none;
    user-select: none;
    margin-right: 10px;
    font-feature-settings: "palt" 1;

    @include sp {
        font-size: 1.2rem;
        letter-spacing: 0;
        padding-left: 15px;
        margin-right: 0;
    }

    /* Hide the browser's default checkbox */
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    /* Create a custom checkbox */
    .c-checkmark {
        position: absolute;
        top: 4px;
        left: 0;
        height: 17px;
        width: 17px;
        border: 1px solid #c2c2c2;

        @include sp {
            height: 12px;
            width: 12px;
        }
    }

    &:hover input ~ .c-checkmark {
        background-color: $color1;
    }

    input:checked ~ .c-checkmark {
        background-color: $color2;
    }

    .c-checkmark::after {
        content: "";
        position: absolute;
        display: none;
    }

    input:checked ~ .c-checkmark::after {
        display: block;
    }

    .c-checkmark::after {
        left: 4px;
        top: 0;
        width: 4px;
        height: 8px;
        border: solid #fff;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
        transform: rotate(45deg);
        transform: rotate(45deg);

        @include sp {
            left: 2px;
            top: -1px;
            width: 3px;
            height: 6px;
        }
    }
}

.c-errormess {
    display: none;
    color: #f00;
    position: relative;
    top: -14px;
    font-size: 1.4rem;
    font-weight: 400;
    font-feature-settings: "palt" 1;
    letter-spacing: 0.1px;
    text-align: left;

    &__main {
        display: block;
    }

    @include sp {
        font-size: 1.2rem;
        top: -8px;
    }
}
