@include screen1200 {
    .c-info {
        &__display {
            margin: 0 auto 75px;
        }

        &__item {
            margin-bottom: 6.3%;
        }
    }
}

@include tab {
    .c-info {
        &__display {
            width: 60%;
            flex-direction: column;
        }

        &__item {
            width: 100%;
            margin-bottom: 50px;
        }

        &__content {
            min-height: 100%;
        }
    }
}

@include sp {
    .c-info {
        padding: 35px 0 42px;
        
        &__title {
            margin-bottom: 7.4%;

            .c-text3 {
                height: 72px;
                margin-bottom: 23px;

                p {
                    line-height: 1.4;
                }
            }
        }

        &__text {
            font-size: 1.4rem;
            width: 280px;
            margin: 0 auto;
        }

        &__display {
            width: 91%;
            margin: 0 auto 47px;
        }

        &__item {
            width: 100%;
            min-height: 172px;
            margin-bottom: 8%;
        }

        &__img {
            max-width: 58%;

            img {
                min-height: 128px;
                object-fit: cover;
                object-position: center;
            }
        }

        &__content {
            width: 56.5%;
            top: 9%;
            padding: 4.4% 2.8% 6.7%;
            min-height: 100%;

            h3 {
                font-size: 1.4rem;
                margin-bottom: 1px;
                line-height: 1.3;
            }

            p {
                font-size: 1.1rem;
                margin-bottom: 1px;
            }

            h4 {
                font-size: 1.2rem;
                line-height: 1.5;
                margin-bottom: 7.3%;
            }
        }
    }
}

@include screen375 {
    .c-info {
        &__content {
            min-height: auto;
        }
    }   
}
