/*------------------------------------------------------------
Css of home page
------------------------------------------------------------*/

.c-pickup {
    padding: 50px 0 100px;
    background: url("../../_public/assets/img/slide-bg.jpg") repeat center;
    background-color: $color2;

    &__title {
        margin-bottom: 3.2%;

        .c-text3 {
            border-color: #acdeda;
            border-radius: 3px;

            p {
                color: rgba($color: #fff, $alpha: 0.5);
            }

            h2 {
                color: $color1;
            }
        }   
    }
      

    &__item {
        width: 329px !important;
        background-color: $color1;
        margin: 0 7.5px;
        cursor: pointer;
    }

    &__item:hover {
        opacity: 0.7;
    }

    &__image {
        position: relative;

        img {
            width: 100%;
        }
    }

    &__des {
        color: #000;
        padding: 9px 15px 9px 9px;
        font-feature-settings: "palt" 1;
        min-height: 108px;

        .c-maintext {
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.6;
            margin-bottom: 10px;
        }

        .c-subtext {
            font-size: 1.4rem;
            font-weight: 400;
        }
    }
}

.slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    cursor: pointer;
}

.slick-arrow:hover {
    opacity: 0.7;
}

.slick-prev {
    left: 2.6%;
}

.slick-next {
    right: 2.6%;
}

.slick-dots {
    position: absolute;
    display: flex !important;
    bottom: -16.9%;
    left: 50%;
    transform: translateX(-50%);
    gap: 0 10.5px;

    button {
        background-color: $color1;
        width: 10px;
        height: 10px;
        display: block;
        font-size: 0;
        border: 0 none;
        outline: none;
        border-radius: 50%;
        margin: 0 auto;
        padding: 0;
        cursor: pointer;
    }

    li {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}

.slick-dots .slick-active {
    border: 1px solid #000;

    button {
        background-color: #000;
    }
}

.c-info {
    background: url("../../_public/assets/img/ci-bg.jpg") repeat center;
    background-color: #e3f8f8;
    padding: 2.6% 0 4.2%;

    &__title {
        text-align: center;
        margin-bottom: 2.4%;

        .c-text3 {
            margin-bottom: 2.4%;

            p {
                color: $color2;
            }
        }
    }

    &__text {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.78;
        font-feature-settings: "palt" 1;
    }

    &__display {
        max-width: 1160px;
        width: 95%;
        margin: 0 auto 1.1%;
        display: flex;
        flex-wrap: wrap;
        column-gap: 15px;
        row-gap: 4.3%;
        justify-content: space-between;
    }

    &__item {
        max-width: 100%;
        width: 49%;
        position: relative;
        margin-bottom: 4.3%;
    }

    &__img {
        max-width: 62%;
        width: 100%;

        img {
            max-width: 320px;
            max-height: 210px;
            width: 100%;
            border: 3px solid #fff;
        }
    }

    &__content {
        width: 50.5%;
        background-color: $color1;
        position: absolute;
        right: 0;
        top: 11%;
        padding: 3.5%;
        font-feature-settings: "palt" 1;
        box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.35);

        h3 {
            font-size: 1.8rem;
            font-weight: 600;
            margin-bottom: 1px;
        }

        p {
            font-size: 1.2rem;
            font-weight: 400;
            margin-bottom: 8px;
        }

        h4 {
            font-size: 1.4rem;
            font-weight: 600;
            color: #00ada0;
            line-height: 1.8;
            margin-bottom: 9.4%;
        }
    }
}

.c-news {
    padding-top: 2.2%;
    position: relative;

    &__title {
        font-feature-settings: "palt" 1;
        text-align: center;
        margin-bottom: 1.2%;

        p {
            color: $color2;
            font-size: 2.1rem;
            font-weight: 600;
        }

        h2 {
            font-size: 2.6rem;
            font-weight: 600;
            line-height: 1.6;
        }
    }

    &__table {
        margin: 0 auto 2.6%;
        max-width: 780px;
        width: 90%;

        .c-table {
            font-feature-settings: "palt" 1;
            letter-spacing: 0.1px;
            width: 100%;
            text-align: left;
            border-bottom: 1px solid #ccc;

            &__row {
                border-top: 1px solid #ccc;
                height: 66px;           
            }

            a {
                height: 66px;
                display: flex;
                width: 100%;
                align-items: center;
            }

            &__th {
                display: inline-block;
                width: 13.7%;
                font-size: 1.4rem;
                font-weight: 400;
                color: #781111;
                line-height: 1.6;
            }

            &__td {
                display: inline-block;
                font-size: 1.6rem;
                font-weight: 400;
                padding-bottom: 4px;
            }
        }
    }

    &__bgimg {
        position: absolute;
        top: 24.1%;
        left: 11.5%;
        z-index: -1;
    }
}

.c-ads {
    background-color: #f8b616;
    margin-top: 122px;
    padding: 0.5% 0 0.6%;
    position: relative;

    &__display {
        max-width: 1416px;
        width: 95%;
        margin: 0 auto;
        display: flex;
    }

    &__item {
        width: 50%;
        display: inline-block;

        img {
            max-width: 62%;
            width: 100%;
        }
    }

    &__item2 {
        text-align: right;
    }

    &__contentimg {
        max-width: 639px;
        width: 33.8%;
        position: absolute;
        top: -16%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;

        img {
            width: 100%;
        }
    }

    &__contentcap {
        width: 70%;
        font-feature-settings: "palt" 1;
        font-size: 1.7rem;
        line-height: 1.47;
        margin: 6.5% auto 0;
    }

    .c-btn1 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 12.9%;
        width: 33.8%;
    }
}
