/*------------------------------------------------------------
text
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-text1 {
    font-size: 3rem;
    font-weight: 600;

    span {
        font-size: 1.8rem;
    }
}

.c-text2 {
    margin: 0 auto;
    font-feature-settings: "palt" 1;

    &__style1 {
        background-color: $color1;
        color: $color2;
    }

    &__style2 {
        color: $color1;
        border: 2px solid #dbeeec;
    }
    
}

.c-text3 {
    margin: 0 auto;
    width: 500px;
    height: 94px;
    border: 2px solid;
    text-align: center;
    padding: 6px 0;
    border-radius: 3px;
    font-feature-settings: "palt" 1;

    p {
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.75;
    }

    h2 {
        font-size: 2.6rem;
        font-weight: 600;
        line-height: 1.5;
    }
}

@include sp {
    .c-text3 {
        width: 270px;
        height: 69px;

        p {
            font-size: 1.4rem;
            line-height: 2;
        }

        h2 {
            font-size: 1.6rem;
            line-height: 1;
        }
    }
}



