/*------------------------------------------------------------
text
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-text1 {
    font-size: 3rem;
    font-weight: 600;

    span {
        font-size: 1.8rem;
    }
}

.c-text2 {
    margin: 0 auto;
    font-feature-settings: "palt" 1;

    &__style1 {
        background-color: $color1;
        color: $color2;
    }

    &__style2 {
        color: $color1;
        border: 2px solid #dbeeec;
    }
    
}

.c-text3 {
    margin: 0 auto;
    width: 500px;
    height: 94px;
    border: 2px solid;
    text-align: center;
    padding: 6px 0;
    border-radius: 3px;
    font-feature-settings: "palt" 1;

    h2 {
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.75;
    }

    p {
        font-size: 2.6rem;
        font-weight: 600;
        line-height: 1.5;
    }
}

@include sp {
    .c-text3 {
        width: 270px;
        height: 69px;

        h2 {
            font-size: 1.4rem;
            line-height: 2;
        }

        p {
            font-size: 1.6rem;
            line-height: 1;
        }
    }
}

.c-btn {
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0 auto;
    text-align: center;
    font-feature-settings: "palt" 1;

    a {
        position: relative;
        display: inline-block;
        width: 100%;
        max-width: 418px;
        line-height: 100%;
    }

    a::after {
        content: "";
        position: relative;
        background-position: center;
        background-size: cover;
        width: 20px;
        height: 20px;
        position: absolute;
        right: 20px;
        top: 20px;
    }

    &__style1 {
        width: 450px;
        height: 59px;
        box-shadow: 4px 4px rgba(0, 0, 0, 1);

        a {
            background-color: $color2;
            color: $color1;
            padding: 20px 17px 24px 16px;
        }

        a::after {
            background-image: url("../../_public/assets/img/arrow.svg");
        }

        a:hover {
            transform: translate(3px, 3px);
            opacity: 1;
        }
    }

    &__style2 {
        max-width: 448px;
        width: 100%;

        a {
            background-color: $color1;
            color: $color2;
            border: 2px solid transparent;
            padding: 18px 15px 23px 13px;
        }

        a::after {
            background-image: url("../../_public/assets/img/arrow-blue.svg");
            top: 18px;
            right: 18px;
        }

        a:hover {
            border: 2px solid #00ada0;
            opacity: 1;
        }
    }
}

@include sp {
    .c-btn {
        width: 270px;
        height: 38px;
        font-size: 1.3rem;

        &__style1 {
            box-shadow: 2px 2px rgba(0, 0, 0, 1);

            a {
                max-width: 237px;
                padding: 11px 17px 14px 16px;
            }
    
            a::after {
                width: 15px;
                height: 15px;
                right: 35px;
                top: 12px;
            }
    
            a:hover {
                transform: translate(2px, 2px);
            }
        }

    }
}


