///*------------------------------------------------------------
//Anchor position
//------------------------------------------------------------*/
//.u-anchor:before {
//	content:"";
//	margin-top: -100px;
//	padding-top: 100px;
//}

//------------------------------------------------------------
// padding
//------------------------------------------------------------


//------------------------------------------------------------
// color
//------------------------------------------------------------

.is-show {
    visibility: visible;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.u-pd1 {
    padding: 20px 20px 20px 18px;

    @include sp {
        padding: 4.3% 3.1% 6.6% 3%;
    }
}

.u-pd2 {
    padding: 15px 20px 20px;

    @include sp {
        padding: 4.5% 3.3% 7% 2.8%;
    }
}

.u-pd3 {
    padding: 20px 20px 22px 18px;

    @include sp {
        padding: 4.3% 3.3% 7% 2.8%;
    }
}

.u-mg {
    margin-left: 0;
    padding: 0 10px;
}
