.is-show {
    visibility: visible;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.is-block {
    display: block;
}

.u-pd1 {
    padding: 20px 20px 20px 18px;

    @include sp {
        padding: 4.3% 3.1% 6.6% 3%;
    }
}

.u-pd2 {
    padding: 15px 20px 20px;

    @include sp {
        padding: 4.5% 3.3% 7% 2.8%;
    }
}

.u-pd3 {
    padding: 20px 20px 22px 18px;

    @include sp {
        padding: 4.3% 3.3% 7% 2.8%;
    }
}

.u-mg {
    margin-left: 0;
    padding: 0 10px;
}

.u-pdlb1 {
    padding: 2.1% 0 1.2%;
}

.u-pdlb2 {
    padding-top: 4px;
}

.u-mgcb1 {
    margin-right: 5.7%;;
}

.u-mgcb2 {
    margin-right: 6.1%;
    padding-left: 27px;
}

.u-mgcb3 {
    margin-right: 6.1%;
    letter-spacing: 1.8px;
    padding-left: 24px;
}

.u-mgcb4 {
    margin-right: 6.2%;
    padding-left: 24px;
    letter-spacing: 1.3px;
}

.u-mgcb6 {
    margin-right: 0;
    width: 15%;
}

@include sp {
    .u-mgcb1,
    .u-mgcb2,
    .u-mgcb3,
    .u-mgcb4 {
        margin-right: 4px;
        padding-left: 13px;
    }

    .u-mgcb6 {
        width: 23%;
    }
}

.u-border {
    border-bottom: 1px solid #c5c5c5;
}

.u-pdh1 {
    padding: 0 28px 1px;
}
