@font-face {
    font-family: "Franklin Gothic";
    src: url("../../_public/assets/fonts/Franklin\ Gothic\ Demi\ Regular.ttf");
}

//baseWidth
$base-width: 1920px;
$font1: "Franklin Gothic", sans-serif;

//color common

$main-color: #000;
$color1: #fff;
$color2: #00ada0;
