@include tab {
    .c-footer {
        &__intro {
            padding: 1.7% 1% 1.9% 0;
        }

        &__contactinfo {
            .c-text1 {
                font-size: 2.1rem;

                span {
                    font-size: 1.6rem;
                }
            }

            .c-text2 {
                max-width: 95%;
                width: 100%;
            }
        }
    }
}

@include sp {
    .c-footer {
        &__arrow {
            padding: 15px 0 14px;

            img {
                width: 35px;
                height: 20px;
            }
        }

        &__wrap {
            padding: 0;
        }

        &__main {
            flex-direction: column-reverse;
        }

        &__contact {
            flex-direction: column;
            width: 100%;
        }

        &__contactinfo {
            width: 100%;
            text-align: center;
            padding: 31px 10px 0;

            p {
                font-size: 1.3rem;
                margin-bottom: 15px;
            }

            .c-text1 {
                font-size: 1.8rem;

                span {
                    font-size: 1.4rem;
                    margin-right: 3px;
                }
            }

            .c-text2 {
                margin: 19px auto 0;
                font-size: 1.3rem;
                max-width: 270px;
                line-height: 1.7;
                padding-left: 0;

                span {
                    margin-left: 7px;
                }
            }
        }

        &__btngroup {
            width: 100%;
            padding: 20px 0;
            margin: 20px auto 0;
            border-top: 1px solid rgba($color: #f2f2f2, $alpha: 0.6);
            border-bottom: 1px solid rgba($color: #f2f2f2, $alpha: 0.6);

            .c-text2 {
                max-width: 270px;
                padding: 4px 0 6px;
                font-size: 1.3rem;
                font-weight: 600;
                margin-bottom: 14px;
            }
        }

        &__intro {
            width: 100%;
            border-right: 0 none;
            text-align: center;
            padding: 34px 0 33px;

            img {
                width: 84.4%;
            }
        }

        &__mainintro {
            font-size: 1.3rem;
            padding-top: 29px;
            margin-left: 0;
            line-height: 1.3;
        }

        &__subintro {
            margin-top: 0;
            font-size: 1.2rem;
            line-height: 1.5;
            margin-left: 9px;

            span {
                margin-right: 9px;
            }
        }

        .c-copyright {
            font-size: 1.1rem;
            padding: 10px 0 13px;
        }
    }
}
