@include screen1200 {
    .c-header {
        max-width: 97%;
    }

    .c-gnav {
        a {
            padding: 0 15px;
        }

    }
}

@include tab {
    .c-header {
        &__navlink {
            width: 70%;
            justify-content: flex-end;
        }
    }

    .c-gnav {
        width: 100%;

        a {
            padding: 0 15px;
        }

    }
}

@include sp {
    .c-header {
        max-width: 100%;

        &__contactlink {
            display: none;
        }

        &__container {
            height: 70px;
            justify-content: space-between;
        }


        &__logo {
            max-width: 100%;
            width: 56.5%;
            text-align: center;
            padding-left: 0;
            line-height: 1;

            img {
                max-width: 165px;
                width: 96%;
            }
        }

        &__navlink {
            width: 43.5%;
            height: 100%;
        }

        &__btn {
            width: 50%;
            padding: 0 0 4px;
            font-size: 1rem;
            letter-spacing: 0;
            text-align: center;
            line-height: 1.1;
        }

        &__openmenu {
            background-color: $main-color;
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding-top: 2px;

            img {
                width: 30px;
            }

            p {
                color: $color1;
                font-weight: 600;
                font-size: 1rem;
                margin-top: 5px;
            }
        }
    }

    .c-gnav {
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease-in-out;
        position: absolute;
        margin: 0;
        width: 100%;
        top: 0;
        left: 0;
        height: 100vh;
        background-color: $color2;
        color: $color1;
        overflow: auto;

        &__btnclose {
            margin-top: 16px;
            margin-right: 20px;
            float: right;
            text-align: center;

            img {
                width: 24px;
            }

            p {
                font-size: 1rem;
                font-weight: 600;
                padding-top: 3px;
            }
        }
        
        ul {
            display: block;
            margin-top: 65px;
            margin-bottom: 26px;
            height: auto;
            max-width: 100%;
        }

        li {
            text-align: center;
            margin-bottom: 20.3px;
            line-height: 1.4;
            height: auto;
        }

        a {
            font-weight: 600;
            font-size: 1.8rem;
            padding: 0;
            height: auto;
        }

        &__footer {
            text-align: center;   
        }

        &__footerinfo {
            text-align: center;
            border-top: 1px solid #dbeeec;
            border-bottom: 1px solid #dbeeec;
            padding: 4% 0;
            margin-bottom: 11.6%;

            .c-text1 {
                margin-bottom: 2%;
            }

            .c-text2 {
                width: 290px;
                font-size: 1.6rem;

                &__style1 {
                    line-height: 1.5;
                    letter-spacing: -0.2px;
                }
            }
        }

        &__footerextrainfo {
            font-size: 1.8rem;
            font-feature-settings: "palt" 1;

            p {
                padding-bottom: 5.8%;
            }

            .c-text2 {
                width: 290px;
                font-size: 1.6rem;
                margin-bottom: 8%;
                padding-bottom: 0;
                
                &__style2 {
                    height: 34.5px;
                    line-height: 1.9;
                    letter-spacing: 0.1px;
                }
            }
        }

        &__btnclose2 {
            margin-top: 1px;
            padding-left: 2px;
            font-size: 1.8rem;
            text-align: center;

            p::before {
                content: "\f00d";
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                color: $color1;
                font-size: 1.8rem;
                margin-right: 11px;
            }
        }
    }
}
