<footer class="c-footer">
  <div class="c-footer__arrow">
    <img src="../_public/assets/img/pagetop.svg" alt="icon">
  </div>
  <div class="c-footer__wrap">
    <div class="c-footer__main">
      <div class="c-footer__intro">
        <img src="../_public/assets/img/f-logo.png" alt="愛媛シゴト図鑑">
        <p class="c-footer__mainintro">【運営】株式会社愛媛経済レポート</p>
        <p class="c-footer__subintro">
          <span>〒790-0011</span>
          <span>愛媛県松山市千舟町4丁目5-4</span>
          <span>松山千舟454ビル5F</span>
        </p>
      </div>
      <div class="c-footer__contact">
        <div class="c-footer__contactinfo">
          <p>掲載企業に関するご質問や資料請求などお気軽にご相談ください。</p>
          <h2 class="c-text1"><span>TEL.</span>089-947-1411</h2>
          <h3 class="c-text2 c-text2__style1">受付時間 9:00〜17:00 （平日のみ）</h3>
        </div>
        <div class="c-footer__btngroup">
          <p class="c-text2 c-text2__style2">お問い合わせはこちら</p>
          <p class="c-text2 c-text2__style2">掲載・取材依頼の企業様へ</p>
        </div>
      </div>
    </div>
  </div>
  <div class="c-copyright">
    <p>©2018 Ehime Keizai Report Inc,</p>
  </div>
</footer>