<footer class="c-footer">
  <a href="#">
    <div class="c-footer__arrow">
      <picture>
        <source media="(max-width: 767px)" srcset="../_public/assets/img/pagetop-sp.svg">
        <img src="../_public/assets/img/pagetop.svg" alt="icon">
      </picture>
    </div>
  </a>
  <div class="c-footer__wrap">
    <div class="c-footer__main">
      <div class="c-footer__intro">
        <a href="/">
          <img src="../_public/assets/img/f-logo.png" alt="愛媛シゴト図鑑">
        </a>
        <p class="c-footer__mainintro">【運営】株式会社愛媛経済レポート</p>
        <p class="c-footer__subintro">
          <span>〒790-0011</span><br class="u-onlysp">
          <span>愛媛県松山市千舟町4丁目5-4</span>
          <span>松山千舟454ビル5F</span>
        </p>
      </div>
      <div class="c-footer__contact">
        <div class="c-footer__contactinfo">
          <p>掲載企業に関するご質問や資料請求などお気軽にご相談ください。</p>
          <a class="c-text1 c-phone"><span>TEL.</span>089-947-1411</a>
          <h2 class="c-text2 c-text2__style1">受付時間 <span>9:00〜17:00（平日のみ）</span></h2>
        </div>
        <div class="c-footer__btngroup">
          <a href="#">
            <p class="c-text2 c-text2__style2">お問い合わせはこちら</p>
          </a>
          <a href="#">
            <p class="c-text2 c-text2__style2">掲載・取材依頼の企業様へ</p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="c-copyright">
    <p>©2018 Ehime Keizai Report Inc,</p>
  </div>
</footer>